@font-face{
	font-family:'ArsMaquette';font-weight:normal;font-style:normal;
	src:url(//assets.12wbt.com/assets/arsmaquettewebone.eot);
	src:url(//assets.12wbt.com/assets/arsmaquettewebone.eot?#iefix) format("embedded-opentype"),
	url(//assets.12wbt.com/assets/arsmaquettewebone.woff) format("woff"),
	url(//assets.12wbt.com/assets/arsmaquettewebone.ttf) format("truetype"),
	url(//assets.12wbt.com/assets/arsmaquettewebone.svg#ArsMaquette) format("svg")
}
@font-face {
	font-family: 'ArsMaquette';	font-weight: bold;font-style: normal;
	src:url(//assets.12wbt.com/assets/arsmaquettewebone-bold.eot);
	src:url(//assets.12wbt.com/assets/arsmaquettewebone-bold.eot?#iefix) format("embedded-opentype"),
	url(//assets.12wbt.com/assets/arsmaquettewebone-bold.woff) format("woff"),
	url(//assets.12wbt.com/assets/arsmaquettewebone-bold.ttf) format("truetype"),
	url(//assets.12wbt.com/assets/arsmaquettewebone-bold.svg#ArsMaquette) format("svg")
}
@font-face{
	font-family:'ArsMaquette';font-weight:500;font-style:normal;
	src:url(//assets.12wbt.com/assets/arsmaquettewebtwo-bold.eot);
	src:url(//assets.12wbt.com/assets/arsmaquettewebtwo-bold.eot?#iefix) format("embedded-opentype"),
	url(//assets.12wbt.com/assets/arsmaquettewebtwo-bold.woff) format("woff"),
	url(//assets.12wbt.com/assets/arsmaquettewebtwo-bold.ttf) format("truetype"),
	url(//assets.12wbt.com/assets/arsmaquettewebtwo-bold.svg#ArsMaquette) format("svg")
}
@font-face{
	font-family:'ArsMaquette';font-weight:normal;font-style:300;
	src:url(//assets.12wbt.com/assets/arsmaquettewebone.eot);
	src:url(//assets.12wbt.com/assets/arsmaquettewebone.eot?#iefix) format("embedded-opentype"),
	url(//assets.12wbt.com/assets/arsmaquettewebone.woff) format("woff"),
	url(//assets.12wbt.com/assets/arsmaquettewebone.ttf) format("truetype"),
	url(//assets.12wbt.com/assets/arsmaquettewebone.svg#ArsMaquette) format("svg")
}

@font-face{
	font-family:'HandOfSeanRegular';font-weight:normal;font-style:normal;
	src:url(//assets.12wbt.com/assets/handsean-webfont.eot);
	src:url(//assets.12wbt.com/assets/handsean-webfont.eot?#iefix) format("embedded-opentype"),
	url(//assets.12wbt.com/assets/handsean-webfont.woff) format("woff"),
	url(//assets.12wbt.com/assets/handsean-webfont.ttf) format("truetype"),
	url(//assets.12wbt.com/assets/handsean-webfont.svg#HandOfSeanRegular) format("svg")
}